@media (max-width:767px){
  header.cabecalho{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
  }

  
  
  .cabecalho .logo{
    margin-bottom:100px;

  }
  .cabecalho nav ul{
    flex-direction: column;
   
  }

  .logo h1{
    font-size:4rem;
  }
  .cabecalho nav ul li{
    margin-bottom: 50px;
    font-size: 4rem;
    font-weight: 400;
  }

  .cabecalho nav ul li .botao-verde-arredondado{
    font-size:1.5rem;
  }

}